@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;

}

.cont{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px ;
}

.img-sec{
    margin-top: -25px;
    float: right;
    width: 40%;
    
}

.img-sec img{
    width: 100%;
    height: auto;

}

.content-section{
    float: left;
    width: 50%;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .message h3{
    margin-top: 20px;
    font-size: 21px;
    color: #5d5d5d;
}
.content-section .message p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;

}

.content-section .message .button {
    margin-top: 30px;
}

.content-section .message .button a{
    background-color: #3d3d3d ;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .message .button a:hover{
    background-color: #a52a2a ;
    color: #fff;
}